@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary" style="color: blue;">
        Bienvenidos a <span class="font-italic text-danger">Padel Academy!</span>
    </h1>
</div>
